[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = icta
[access "refs/*"]
	owner = group user/stoneypark
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/stoneypark
	label-Verified = -1..+1 group user/stoneypark
	push = group user/stoneypark
	read = group user/stoneypark
	rebase = group user/stoneypark
	removeReviewer = group user/stoneypark
	submit = group user/stoneypark
[access "refs/heads/*"]
	create = group user/stoneypark
	push = +force group user/stoneypark
	pushMerge = group user/stoneypark
	read = group user/stoneypark
[access "refs/tags/*"]
	push = group user/stoneypark
	push = +force group user/stoneypark
